// === cta section ===
.cta__inner {
  
}
.cta__content {
  padding: 128px 80px;
  max-width: 729px;
  background: $basic-background;
}
.cta__heading {
  margin-bottom: 48px;
  color: #fff;
}
.cta__btn {
  background: $basic-color;
}